@page
@model SwishIdentity.Areas.Verif.Pages.ExistsModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Online Identity Portal";
    ViewData["ActivePage"] = VerifNavPages.Exists;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <b>You have already verified your identity with this person!</b>
</div>
</body>
</html>