@page
@model PersonalDataModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="security-container shadow">
    <h4>@ViewData["Title"]</h4>
    <div class="row">
        <div class="col-md-6">
            <p>Your account contains personal data that you have given us. 
                This page allows you to download that data.</p>

            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-primary" type="submit">Download</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}