@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-container form-row justify-content-center shadow">
    <div class="login-form col-md-5">
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <hr/>

                <div class="form-group text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a><br>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>
</div>

<style>
    .btn-primary {
        background-color: black;
        color: white;
    }
    .login-container{
        margin-top: 12%;
    }
    .login-form{
        margin: 5%;
    }
    a { color: black;}
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}