@page
@model SwishIdentity.Areas.Admin.Pages.ApproveManagerModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Approve Manager";
    //ViewData["ActivePage"] = AdminNavPages.Review;
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}