@page
@model SwishIdentity.Areas.Admin.Pages.RejectManagerModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Reject Manager";
    //ViewData["ActivePage"] = AdminNavPages.VerificationReview;
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}